.dashboard-container {
    display: flex;
    flex-direction: row;
}
.dashboard-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #F0F2F5;
}
.box-container{
    margin-left: 80px;
    margin-right: 15px
}
.filter{
    background-color: #fdfdfd;
        margin-right: 40px
}
.result{
    background-color: #fdfdfd;
}